@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Libreria </h1>
    <p class="lead"></p>
    <p><a href="~/Book/ListarCards" class="btn btn-primary btn-lg">Ver Catalogo</a></p>
</div>

